body,html{

	background:#f0f2f5;
	text-decoration:none;
	overflow-x: hidden;
}

hr{

	border-top: 1px solid #ccc;

}
.meny-pro-pic img{
	border-radius:50%;
	width:20px;
	height:20px;
	position:relative;
	top:5px;
}
svg.x1lliihq.x1k90msu.x2h7rmj.x1qfuztq.x198g3q0 {
    margin: 25%;
	color:#333;
	
	
}
svg.x1lliihq.x1k90msu.x2h7rmj.x1qfuztq.x198g3q0:focus {
    margin: 25%;
	color:blue;
	
	
}
a.home_icon img:target{
	outline:none;
	display:block;
	background:#fff;
	
}

.watch img{
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y4/r/pFMzRgJZxnt.png);
    background-position: 0 -25px;
    background-size: auto;
    width: 25px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    border: none;
	z-index:9999; 
}
.search img{
    background-image: url(lDvT6o3uYOG.png);
    background-position: 0 -80px;
    background-size: 25px;
    width: 25px;
    height: 20px;
    background-repeat: no-repeat;
    border: none;
	  
}
.search{
	position:absolute;
	left:5px;
	top:10px;
	
	
}.like img{
    background-image: url(TiMJaPZbwkr.png);
    background-position: 0 -334px;
    background-size: 25px;
    width: 25px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    border: none;

	  
}.comment img{
    background-image: url(TiMJaPZbwkr.png);
    background-position: 0 -296px;
    background-size: 25px;
    width: 25px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    border: none;

	  
}
.share img{
    background-image: url(TiMJaPZbwkr.png);
    background-position: 0 -353px;
    background-size: 25px;
    width: 25px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    border: none;

	  
}
a.post-from img{
	height:20px;
	width:20px;
	border-radius:50%;
	
}
.close img{
    background-image: url(TiMJaPZbwkr.png);
	background-position: 3px -56px;
    background-size: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    border: none;
	z-index:9999;
	height:20px;
	width:20px;
}
a.close img{
	float:right;
	height:25px;
	width:25px;
	
}

.gaming img{
    background-image: url(_qIV15fkAgk.png);
    background-position: 0 -0px;
    background-size: auto;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    display: inline-block;
    border: none;
	  
}
.see_all img{
    background-image: url(f5MH_uR2s7E.png);
	background-position: 0 58%;
    background-size: 50px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    display: inline-block;
    border: none; 
}
.nav-headerr{
	height:55px;
	background:#fff;
	border-bottom: 0px solid #ccc;
    box-shadow: 0px 0px 3px 0px #999;	
    position: fixed !important;
}

.header_img svg{
	z-index: 9999;
	margin:0px;
	padding:0px;
	top:15px;
	position:relative;
	filter: invert(39%) sepia(57%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(147.75%) hue-rotate(202deg) brightness(97%) contrast(96%);
	left:5px;
}
.header_img img:hover{

	z-index: 9999;
	margin:0px;
	padding:0px;
}
.header_search{
    float: left;
    position: absolute;
    display: block;
    top: 10px;
    margin-left: 28%;
	width:50%;
}
.header_search a{
	background-image: #ffffff url("download.png") no-repeat right top ;
	background-repeat: no-repeat;
	background-size: 300px 100px;
	
}
.header_search input[type=text]{
	padding: 3px;
    border-radius: 50px;
    width: 90%;
    border: 0px solid #f0f2f5;
    height: 40px;
	background:#f0f2f5;
	outline: none;
	padding-left: 30px;
}
.header_search input[type=text]:active{
	padding: 3px;
    border-radius: 50px;
    width: 90%;
    border: 0px solid #f0f2f5;
    height: 40px;
	background:#f0f2f5;
	outline: none;
	padding-left: 30px;
}
.header_icons{
	z-index: 9999;
	margin:0px;
	padding:0px;
    position: absolute;
	top:0px;
	right:15px;
}
.header_icons a{
	margin:5px;
	border:0px solid;
	padding:0px;
	background:#eee;
	display:block;
	width: 40px;
    height: 40px;
	border-radius: 50%;
}
.header_icons a:focus{
	background: #e0eff3;
}
.header_icons a:focus svg 
{
    color: green;
    background: #e0eff3;
	fill: hsl(214, 89%, 52%);
}
.header_icons img{
	width:40px;
	height:40px;
	border-radius:50%;
	
}
.header_icons ul{
	display:blolck;
	text-decoration:none;
	list-style-type: none;
	float:left;
	margin:0px;
}
.header_icons ul li{
		
	display: inline;
    float: left;
}
.message a{
	background-image:'facebook-icons_29096-61.avif';
}

.left_sidebar img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    position: relative;
    top: 5px;
	
}
.left_sidebar ul{
	padding:5px;
	margin:5px;	
}
.left_sidebar li{
	display:block;
	height:45px;
	text-decoration:none;
	margin-left:0px;
	padding:0px;
	color:#000;
	width:98%;
	border-radius:25px;

}
.left_sidebar li:hover{
	background:#e6e6e6;
	display:block;
	height:45px;
	text-decoration:none;
	margin-left:0px;
	padding:0px;
	color:#000;
	width:98%;
	border-radius:10px;
}
.left_sidebar ul li a{
	color:#000;
	text-decoration:none;
	font-size: medium;
    font-style: normal;
	padding: 5px;
    display: block;
	font-weight: bolder;
	padding-left:10px;
}
.left_sidebar li a:target{
	display:block;
	height:45px;
	text-decoration:none;
	margin-left:0px;
	padding:0px;
	color:#000;
	width:98%;
	border-left:2px solid hsl(214, 89%, 52%);
	padding-left:10px;
}
.right_sidebar{
	position:fixed;
	height:100%;
	display:block;
	

}

.right_sidebar ul  {
	padding:5px;
	margin:5px;	
}
.right_sidebar li{
	display:block;
	height:40px;
	text-decoration:none;
	margin-left:0px;
	padding:5px;
	color:#000;
	width:95%;
	border-radius:10px;
}
.right_sidebar li:hover{
	background:#e6e6e6;
	display:block;
	height:40px;
	text-decoration:none;
	margin-left:0px;
	padding:5px;
	color:#000;
	width:95%;
	border-radius:10px;
}
.right_sidebar ul li a{
	color:#000;
	text-decoration:none;
	font-size: normal;
    font-style: normal;
    display: block;
	padding:5px;
	margin:5px;
}
.right_sidebar ul li a span{
	padding-bottom:15px;
}
.right_sidebar ul li a img{
	width:25px;
	height:25px;
	border-radius:25px;
	margin-right:10px;
	position:relative;
}


.inpput-post{
    background: #fff;
    height: 130px;
    border-radius: 8px;
    box-shadow: 0px 0px 3px 0px #ccc;
	margin-top: 10px;
    margin-bottom: 10px;
}.inpput-post img{
	border-radius:50%;
	width:40px;
	height:40px;
	position:relative;
	top:5px;
	float:left;
	display:block;
	margin-left:10px;
	margin-top:5px;
}
.omhassan a{
	display:block;
    float: left;
    font-size: large;
    text-decoration: none;
    color: #666;
	width:33.2%;
	padding-top:10px;
	
}
.omhassan a:hover{
	display:block;
    float: left;
    font-size: large;
    text-decoration: none;
    color: #666;
	width:33.2%;
	padding-top:10px;
	background:#eee;
	border-radius:8px;
	
}.omhassan img{
	border-radius:0px;
	width:25px;
	height:25px;
	position:relative;
	top:-10px;
	padding:2px;

	
	
}
.inpput-post input[type=text]{
	padding: 3px;
    border-radius: 50px;
    width: 85%;
    border: 0px solid #f0f2f5;
    height: 40px;
	background:#f0f2f5;
	outline: none;
	padding-left: 20px;
	margin-top:10px;
	margin-left:10px;
}
.postespro {
    background: #fff;
    margin-left: 1.40625rem!important;
    margin-top: 10px;
    margin-bottom: 1.40625rem!important;
    float: left;
    display: block;
    border-radius: 8px;
    width: 49%;
    max-height: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 0px solid #eaeaea;
    box-shadow: 0px 0px 3px 0px #ccc;
}
.postes-p {
    padding: 1%;
    display: block;
    height: 6%;
    overflow: visible;
    max-width: 97%;
    line-height: 1.2;
    word-wrap: break-word;
    font-weight: bold;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}
.postes img{
	width: 100%;
    border-radius: 0px;

}
.im img{
	height: 60%;
	width: 100%;
}
.auther{
	height: 8%;

}
.auther ul {
    padding: 5px;
    margin: 0px;
	
}
.auther a{
	text-decoration:none;
	position: absolute;
	color:#333;
}
.auther ul li a span{
    position: relative;
    margin-left: 3px;
    text-decoration: none;
    left: 50px;
	margin-top:0px;
	margin-bottom:0px;
}

.auther ul li {
list-style: none;

}
.auther img{
	width:40px;
	height:40px;
	border-radius:100%;
	
}
.authername{
    font-size: larger;
    font-style: normal;
    font-family: fantasy;
	display: list-item;
	width: fit-content;


}.authertime{
    font-size: larger;
    font-style: normal;
    font-family: fantasy;
	display: list-item;
	width: fit-content;


}a.authername {
    display: list-item;
    list-style: none;
    position: relative;
    width: fit-content;
}

a.autherpointes {
    position: relative;
    right: 10px;
    float: right;
    font-size: x-large;
	width: fit-content;
	bottom:15px;
	font-weight:bold;
	width:25px;
	height:25px;
	padding:5px;
}
a.autherpointes:hover{
	background: #eee;
	border-radius:50%;
}
a.close {
    position: relative;
    right: 10px;
    float: right;
    font-size: x-large;
	width: fit-content;
	bottom:15px;
	width:25px;
	height:25px;
	padding:5px
}
a.close:hover{
	background: #eee;
	border-radius:50%;
}



.commentt ul{
	margin:0px;
	width: max-content;
	width: 100%;

}
.commentt ul li{
	display: inline-block;
	list-style: none;
	width:25%;
	

}
.commentt ul li a {
    text-decoration: none;
    color: #666;
    font-size: medium;
    border-radius: 5%;
    padding: 5% 20% 5% 20%;
    display: block;
    width: fit-content;
    font-weight: bold;
    text-align: center;
}
.commentt ul li a:hover{
    text-decoration: none;
    color: #666;
    font-size: medium;
    border-radius: 5%;
    padding: 5% 20% 5% 20%;
    display: block;
    width: fit-content;
    font-weight: bold;
    text-align: center;
	background:#eee;

}.commentt ul li a img{
	position: absolute;
	margin: 0px 0px 0px -20px;
	display: block;

}

#reels:target{
	outline:none;
	display:block;
	background:#fff;
	
}
a#reels:target{
	background:#fff;
	border-bottom: 3px solid hsl(214, 89%, 52%);
	color:hsl(214, 89%, 52%);
}
a#reels:target ~ .reels{

	display:block;
}
a#reels:target ~ .story{
	display:none;
}
#story:target{
	outline:none;
	display:block;
	background:#fff;
	border-bottom: 3px solid hsl(214, 89%, 52%);
}
a#story:target{
	background:#fff;
	border-bottom: 3px solid hsl(214, 89%, 52%);
	color:hsl(214, 89%, 52%);
}
a#story{
	border-bottom: 3px solid hsl(214, 89%, 52%);
	color:hsl(214, 89%, 52%);
}
a#reels:target ~ a#story{
	color:#665;
	border-bottom: 0px solid #666;
}
.login-box{
    background: white;
    color: deeppink;
    border: 0 solid #999;
    border-radius: 2%;
    box-shadow: 0px 0px 5px 0px #b9cbf1;
    height: 40%;
    margin: 10px;
    padding: 5px;
    text-align: center;
    float: left;
    display: block;
    position: relative;
    top: 10%;
    min-width: 350px;
    margin-left: 5px;

}
.login-box ul{
    margin: 0px;
    padding: 0px;

}
.login-box ul li{
    margin: 0px;
    list-style: none;

}
.login-box input[type=text]{
    margin: 10px;
    width: 90%;
    border-radius: 5px;
    font-size: large;
    height: 13%;
    border: 1px solid #ddd;
}
.login-box input[type=text]:focus{
    margin: 10px;
    width: 90%;
    border-radius: 5px;
    font-size: large;
    height: 13%;
    border: 1px solid #2159d1;
}
.login-box input[type=password]{
    margin: 10px;
    width: 90%;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: large;
    height: 13%;
}
.login-box input[type=submit]{
    height: auto;
    padding: 4%;
    margin: 10px;
    width: 90%;
    border-radius: 5px;
    background: #2d6ee7;
    color: #ffffff;
    font-size: large;
    font-weight: bold;
    border: none;
}
.login-box input[type=submit]:focus{
    height: auto;
    padding: 4%;
    margin: 10px;
    width: 90%;
    border-radius: 5px;
    background: #2d6ee7;
    color: #ffffff;
    font-size: large;
    font-weight: bold;
    border: none;
}
.login-box input[type=button]{
    height: auto;
    padding: 4%;
    margin: 10px;
    width: 50%;
    border-radius: 5px;
    background: #24c44c;
    color: #ffffff;
    font-size: large;
    font-weight: bold;
    border: none;
}
.face-logo {
    width: 60%;
    height: 13%;
    float: left;
    position: relative;
    top: 3%;
    font-size: 140%;
    padding: 5%;
    margin-left: 5px;
    max-width: 445px;
}
ul.uiList.localeSelectorList._2pid._509-._4ki._6-h._6-j._6-i {
    float: left;
    width: 100%;
}
ul.uiList.localeSelectorList._2pid._509-._4ki._6-h._6-j._6-i li{
    float: left;
    list-style: none;
    display: inline;
}
footer {
    /* background: hsl(0deg 0% 99.21%); */
    width: 25%;
    height: 13%;
    display: block;
    position: relative;
    bottom: 0px;
    overflow: hidden;
}
footer a{
color: #5a5a5a;
margin: 3px;
}
ul.uiList.pageFooterLinkList._509-._4ki._703._6-i li{
    display: inline; 
    list-style: none;
}
ul.uiList.pageFooterLinkList._509-._4ki._703._6-i li a{
margin: 3px;
}
.reg{
    background: #fff;
    width: 40%;
    text-align: left;
    padding: 1%;
    margin: 5%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.reg input[type="text"]{
    width: 90%;
    padding-top: 25px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;

}
.reg input[type="email"]{
    width: 95%;
    padding-top: 25px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
    margin-top: 5px;

}
.reg input[type=submit]{
    height: auto;
    padding: 4%;
    margin: 10px;
    width: 90%;
    border-radius: 5px;
    background: #2d6ee7;
    color: #ffffff;
    font-size: large;
    font-weight: bold;
    border: none;
}
.reg input[type="password"]{
    width: 90%;
    padding-top: 25px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;

}
.timeline:before{
    display: none;
}
.timeline{
    border-radius: 7px;
 
}
.timeline .timeline-header+.timeline-body {
    padding-top: 0;
    border-radius: 7px;
}
.p_co{
    height: 300px;
    padding: 0px !important;

}
.profile-bg{
    background-image: linear-gradient(to bottom, #e8ebef7a, #ffffff);
}
.about a{
	background:#fff;
	border-bottom: 3px solid hsl(214, 89%, 52%);
    font-size: medium !important;
}
.about .nav-link.active{
	background:#ebf5ff !important;
	border-bottom: 3px solid hsl(214, 89%, 52%);
	color:hsl(214, 89%, 52%) !important;
    font-size: medium !important;
}
.about .nav{
	border-right: 1px solid hsl(0, 2%, 76%) !important;
    padding: 2%;

}
.profile-header-tab a.active{
	border-bottom: 4px solid hsl(214, 89%, 52%) !important;
}
.inpput-postpro{
    background: #fff;
    margin-left: 1.40625rem!important;
    width: 49%;
    height: 130px;
    border-radius: 8px;
    box-shadow: 0px 0px 3px 0px #ccc;
	float:left;
	display:block;
	margin-top: 10px;
    margin-bottom: 10px;
}.inpput-postpro img{
	border-radius:50%;
	width:40px;
	height:40px;
	position:relative;
	top:5px;
	float:left;
	display:block;
	margin-left:10px;
	margin-top:5px;
}
.omhassan a{
	display:block;
    float: left;
    font-size: large;
    text-decoration: none;
    color: #666;
	width:33.2%;
	padding-top:10px;
	
}
.omhassan a:hover{
	display:block;
    float: left;
    font-size: large;
    text-decoration: none;
    color: #666;
	width:33.2%;
	padding-top:10px;
	background:#eee;
	border-radius:8px;
	
}.omhassan img{
	border-radius:0px;
	width:25px;
	height:25px;
	position:relative;
	top:-10px;
	padding:2px;

	
	
}
.inpput-postpro input[type=text]{
	padding: 3px;
    border-radius: 50px;
    width: 85%;
    border: 0px solid #f0f2f5;
    height: 40px;
	background:#f0f2f5;
	outline: none;
	padding-left: 20px;
	margin-top:10px;
	margin-left:10px;
}
.adphoto:hover{

    color: #2d6ee7 !important;
    background: #f2ecec !important;
    padding: 5px !important;
    border-radius: 7px;
    font-size: medium !important;

}
.adphoto{

    text-decoration: none !important;
    padding: 5px !important;
    font-size: medium !important;
}
#content{
    margin-left: 350px !important;
}
.radius_30{
    border-radius: 30px;
}